{name, "riak_pipe"}.
{authors, ["Scott Lystig Fritchie <slfritchie@snookles.com>"]}.
{description, "Riak Pipelines"}.
{homepage, "https://github.com/basho/riak_pipe"}.
{rebar_compatible, true}.
{license, "Apache License 2.0", "LICENSE"}.
{url, {git, "https://github.com/basho/riak_pipe.git", {branch, "master"}}}.
{applications, [riak_pipe]}.
